<form action= "createSet" method="post">
	<label for="name">Set Title</lable>
	<input type="text" name="settitle" value="" id="settitle" />
	
	<label for="lineup">Line up</label>
    <textarea name="dj" rows="4" cols="40" id="lineup"></textarea>


  	<label for="description">Description</label>
  	<textarea name="description" rows="8" cols="40" id="description"></textarea>
	
	
  <p><input type="submit" value="Submit"></p>
 </form>



